<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Loja de Automóveis{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'categoria_list' %}">Categorias</a></li>
            <li><a href="{% url 'carro_list' %}">Carros</a></li>
            <li><a href="{% url 'cliente_list' %}">Clientes</a></li>
            <li><a href="{% url 'vendedor_list' %}">Vendedores</a></li>
            <li><a href="{% url 'venda_list' %}">Vendas</a></li>
            <li><a href="{% url 'manutencao_list' %}">Manutenções</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
