{% extends 'base.html' %}
{% block title %}Carros{% endblock %}
{% block content %}
<h1>Lista de Carros</h1>
<a href="{% url 'carro_create' %}">Criar Novo Carro</a>
<ul>
    {% for carro in object_list %}
        <li>
            {{ carro.modelo }} - {{ carro.marca }} - R$ {{ carro.preco }}
            <a href="{% url 'carro_detail' carro.pk %}">Detalhes</a>
            <a href="{% url 'carro_update' carro.pk %}">Editar</a>
            <a href="{% url 'carro_delete' carro.pk %}">Deletar</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}