{% extends 'base.html' %}
{% block title %}Vendedores{% endblock %}
{% block content %}
<h1>Lista de Vendedores</h1>
<a href="{% url 'vendedor_create' %}">Criar Novo Vendedor</a>
<ul>
    {% for vendedor in object_list %}
        <li>
            {{ vendedor.nome }} - {{ vendedor.especialidade }}
            <a href="{% url 'vendedor_detail' vendedor.pk %}">Detalhes</a>
            <a href="{% url 'vendedor_update' vendedor.pk %}">Editar</a>
            <a href="{% url 'vendedor_delete' vendedor.pk %}">Deletar</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}